.App {
  text-align: center;
}
html{
  background: top url("./img/back.jfif");
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

h5{
  color: #e6810f;
}

.App-link {
  color: #61
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.button{
  display: inline-block;
  margin: 0;
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 16px;
  color: rgb(245, 237, 237);
  transition: background 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0s;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover{
  transform: scale(1.1);
}

.button-blue{
  background: #0f7afd;
}

.button-green{
  background: #34ae49;
}

.button-orange{
  color: #282c34;
  background: #e6810f;
}

.button-blue:hover{
  background: #005bca;
}

.button-green:hover{
  background: #2e7e3b;
}

.button-blue:active{
  background: #0bb6eb
}

.button-green:active{
  background: #0ce029
}
