.App {
  text-align: center;
}
.App-header{
  padding: 15px 0;
  background: #282cfa;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
  position: relative;
  z-index: 3;
}

.link{
  color: #3d7bff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;

}

.App-logo{
  padding-top: 10px; 
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
}

.backMirror{
  background: top url("../img/back.jfif");
}

.container{
  max-width: 980px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.registradoNota{
  background-color: #3af701;
}

.erroNota{
  background-color:#ff0000;
}

.in{
  opacity: 1;
  transition: opacity 2s linear;
}

.out{
  opacity:0;
  transition: opacity 2s linear;
}




/* .App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 10vmin;
  pointer-events: none;
}  

.App-headerz
  background-color: #282c34;
  min-height: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
