.button{
    display: inline-block;
    margin: 0;
    padding: 15px 16px;
    border: none;
    border-radius: 0 15px 0 15px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    transition: background 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0s;
    cursor: pointer;
    box-sizing: border-box;
}

.button:hover{
    transform: scale(1.1);
}

.button-gray{
    background: #635f5f;
    color:#ffffff;
}
.button-blue{
    background: #0f7afd;
}

.button-green{
    background: #34ae49;
}

.button-orange{
    background: #f7873c;
}

.button-orange:hover{
    background: #fd6602;
}

.button-blue:hover{
    background: #005bca;
}

.button-green:hover{
    background: #2e7e3b;
}

.button-blue:active{
    background: #0bb6eb
}

.button-green:active{
    background: #0ce029
}