.header{
  padding: 15px 0;
  background: #1465fc;
  box-shadow: 0 0 22px rgba(0, 0, 0, 0.6);
  position: relative;
  z-index: 3;
}
.logo{
  padding-top: 10px; 
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
}
.header:hover{
  transition: 200ms;
  box-shadow: 0 0 14px #1d61f3;
}

a{
  color: aliceblue;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}