/* Footer */

.footer{
    background: #1d61f3;
    padding: 10px 0px;
}

.footer a{
    font-size: 12px;
    line-height: 12px;
    color: #666;
    font-weight: bold;
}

.footer p{
    margin: 30px 0 0;
    font-size: 11px;
    line-height: 14px;
    color: #999;
}   
footer {
    width: 100%;
    background: #1d61f3;
    text-align: left;
    transition: 200ms;
    color: #ffffff;
    }

footer:hover {
    box-shadow: 0 0 10px #1d61f3;
}

footer .link{
    color: #ffffff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: none;
}
