input .number{
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 5px 10px;
    margin-bottom: 15px;
    border: 1px solid #999;
    border-radius: 4px;
    box-sizing: border-box;
}

.card{
    padding: 3px;
    background: rgb(104, 102, 102);
    width: 450px;
    height: auto;
    box-flex: center;
    text-align: center;
    position: relative;
    border-radius: 15px;
}
.card .folder{
    max-height: 250px;
    max-width: 440px;
    border-radius: 15px;
}