.App {
  text-align: center;
  background: url(img/RPG.png) no-repeat center bottom / cover;
  min-height: 100vh;
  display: block;
}

header {
  width: 100%;
  padding: 2px 0;
  background: #000;
  box-shadow: 0 0 22px rgba(0, 0, 0, 0.6);
  position: left;
  z-index: 3;
  font-size: calc(8px + 2vmin);
  display: inline-block;
}

.footer {
  background: #f77c09;
  box-shadow: 0 0 22px rgba(0, 0, 0, 0.6);
  position: bottom;
  z-index: 3;
  padding: 1px 5px 0;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li, a{
  padding: 2px;
  list-style-type: none;
  display: inline-block;
  text-decoration: none;
  color: black;
}

.deslogar{
  margin-left: 260px;
  padding: 8px 15px;
  background: #282c34;
  color: #f77c09;
  border-radius: 12px 4px 14px 5px;
  font-size: 16px;
}

.link{
  padding: 8px 15px;
  margin:auto;
  color: #f77c09;
  background: #282c34;
  border-radius: 12px 4px 14px 5px;
}

.container{
  max-width: 980px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}


.col50{
  width: 50%;
}
.card {
	width: 500px;
	height: 300px;
	border-radius: 20px;
	background: rgb(116, 115, 121);
	overflow: hidden;
	position: relative;
	color: white;
  transform: scale(.65);
}

.visa {
  position: absolute;
  left: 2em;
  top: 1em;
  font-size: 33px;
}