.container{
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.col{
    padding: 15px 15px;
    float: left;
    box-sizing: border-box;
    display: flex;
}
.minicard{
    padding: 4px;
    margin: 3px;
    width: 220px;
    height: 90px;
    border-radius: 7px ;
    background: url("../img/fundo.jpg");
    color: white;
    box-shadow: 0 10px 60px rgba(0,0,0,.2);
    font-size: 19px;
}

.minicard:hover{
    transition: 300ms;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    background: black;
}