 .box{
     text-align: left;
     position: center;
     height:auto;
     width: 320px;
     padding: 5px;
     margin: 2px;
     background: url("../img/fundo.jpg") left no-repeat;
     border-radius: 9px;
     box-sizing: border-box;
     margin-left: 17%;
 }

 ul,
 h3,
 h5,
 h6{
    color: aliceblue;
    text-transform: capitalize;
 }
