.minibox{
    padding: 4px 4px;
    margin: 3px 3px;
    width: auto;
    height: auto;
    border-radius: 10px ;
    background: url("../img/fundo.jpg");
    color: white;
    box-shadow: 0 10px 60px rgba(0,0,0,.2);
    font-size: 19px;
    text-align: center;
}

.minibox:hover{
    transition: 300ms;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    background: black;
}