.header{
    padding: 35px 0;
    background: #f77c09;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.6);
    position: relative;
    z-index: 5;
    font-size: calc(10px + 2vmin);
  }

  .logo {
    max-width: 35px;
    max-height: 35px;
    z-index: 5;
    float: left;
  }
  