@import url('https://fonts.googleapis.com/css?family=Inconsolata:400&display=swap');


.card {
	width: 500px;
	height: 300px;
	border-radius: 20px;
	background: #2D77FF;
	overflow: hidden;
	position: relative;
	color: white;
  transform: scale(.65);
}

.visa {
  position: absolute;
  left: 2em;
  top: 1em;
  font-size: 33px;
}
.chip {
  position: absolute;
  left: 3em;
  bottom: 9em;
  width: 70px;
  height: 55px;
  border-radius: 5px;
  background: white;
}
.number {
  position: absolute;
  left: 3rem;
  bottom: 2rem;
  font-size: 2.5em;
  letter-spacing: 3px;
  color: white;
}
.id {
  position: absolute;
  bottom: 2.7rem;
  right: 3rem;
  font-size: 2em;
  font-family: 'Inconsolata', monospace;
}
span {
  position: absolute;
  left: 50%;
  width: 150%;
  height: 200%;
  display: block;
}
.cliente{
  position: absolute;
  right: 3em;
  bottom: 5em;
}