button {
    text-decoration: none;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
    text-shadow: #f77c09;
}

#senha,
#email {
    color: #f77c09;
    background-color: black;
    text-align: center; 
    border-radius: 12px;
    font-family: monospace;
}

#login{
    font-family: monospace;
    border-radius: 12px;
    background: #f77c09;
}